# Estradas e Trajetos

Considere o diagrama abaixo representa graficamente um modelo relacional de tabelas que controlam cidades, estradas e trajetos entre cidades. A seguir a descrição o papel de cada tabela:
* _Cidades_: mantém um cadastro de cidades.
* _Estradas_: registra estradas que ligam uma cidade (cidade_origem) a outra (cidade_destino), bem como sua quilometragem.
* _Trajeto_: cada registro da tabela Trajeto identifica um trajeto, que consiste em uma sequência ordenada de estradas que ligam duas cidades (cidade_origem e cidade_destino), por exemplo, um trajeto entre Salvador e Curitiba, pode envolver uma sequência de estradas: Salvador-Belo Horizonte, Belo Horizonte-São Paulo e São Paulo-Curitiba. Um Trajeto agrega um conjunto de Segmentos.
* _Segmento_: associa estradas a trajetos. O campo ordem é um campo numérico sequencial (iniciado de 1 para cada trajeto) usado para ordenar os segmentos (estradas) dentro de um trajeto.

![UML](uml-estradas.png) ![Relacional](relacional-estradas.png)

In [1]:
%defaultDatasource jdbc:h2:file:~/data/estradas/estradas

CREATE TABLE Cidade (
  cidadeid VARCHAR(5) NOT NULL ,
  nome VARCHAR(100) ,
  PRIMARY KEY (cidadeid) );

INSERT INTO Cidade VALUES ('SSA', 'Salvador');
INSERT INTO Cidade VALUES ('SP',  'Sao Paulo');
INSERT INTO Cidade VALUES ('RJ',  'Rio de Janeiro');
INSERT INTO Cidade VALUES ('FLO', 'Florianopolis');
INSERT INTO Cidade VALUES ('CUR', 'Curitiba');

CREATE TABLE Estrada (
  estradaid VARCHAR(5) NOT NULL ,
  nome VARCHAR(100) ,
  cidade_origem VARCHAR(5) NOT NULL ,
  cidade_destino VARCHAR(5) NOT NULL ,
  extensao_km INT ,
  PRIMARY KEY (estradaid) ,
  FOREIGN KEY (cidade_origem )
    REFERENCES Cidade (cidadeid )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  FOREIGN KEY (cidade_destino )
    REFERENCES Cidade (cidadeid )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

INSERT INTO Estrada VALUES ('4545', 'Estrada 4545', 'SSA', 'RJ', 1800);
INSERT INTO Estrada VALUES ('2835', 'Estrada 2835', 'RJ', 'SP', 400);
INSERT INTO Estrada VALUES ('1012', 'Estrada 1012', 'SP', 'FLO', 600);
INSERT INTO Estrada VALUES ('1212', 'Estrada 1212', 'SP', 'CUR', 800);
INSERT INTO Estrada VALUES ('6032', 'Estrada 6032', 'FLO', 'CUR', 200);

CREATE TABLE Trajeto (
  trajetoid VARCHAR(5) NOT NULL ,
  cidade_origem VARCHAR(5) NOT NULL ,
  cidade_destino VARCHAR(5) NOT NULL ,
  PRIMARY KEY (trajetoid) ,
  FOREIGN KEY (cidade_origem )
    REFERENCES Cidade (cidadeid )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  FOREIGN KEY (cidade_destino )
    REFERENCES Cidade (cidadeid )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

INSERT INTO Trajeto VALUES ('TJ001', 'SSA', 'SP');
INSERT INTO Trajeto VALUES ('TJ002', 'SSA', 'FLO');
INSERT INTO Trajeto VALUES ('TJ003', 'SP', 'CUR');
INSERT INTO Trajeto VALUES ('TJ004', 'SP', 'CUR');
INSERT INTO Trajeto VALUES ('TJ005', 'RJ', 'CUR');

CREATE TABLE Segmento (
  trajetoid VARCHAR(5) NOT NULL ,
  estradaid VARCHAR(5) NOT NULL ,
  ordem INT ,
  PRIMARY KEY (trajetoid, estradaid) ,
  FOREIGN KEY (estradaid )
    REFERENCES Estrada (estradaid )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  FOREIGN KEY (trajetoid )
    REFERENCES Trajeto (trajetoid )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION);

INSERT INTO Segmento VALUES ('TJ001', '4545', 1);
INSERT INTO Segmento VALUES ('TJ001', '2835', 2);
INSERT INTO Segmento VALUES ('TJ002', '4545', 1);
INSERT INTO Segmento VALUES ('TJ002', '2835', 2);
INSERT INTO Segmento VALUES ('TJ002', '1012', 3);
INSERT INTO Segmento VALUES ('TJ003', '4545', 1);
INSERT INTO Segmento VALUES ('TJ003', '2835', 2);
INSERT INTO Segmento VALUES ('TJ003', '1012', 3);
INSERT INTO Segmento VALUES ('TJ004', '4545', 1);
INSERT INTO Segmento VALUES ('TJ004', '2835', 2);
INSERT INTO Segmento VALUES ('TJ004', '1012', 3);
INSERT INTO Segmento VALUES ('TJ004', '6032', 4);
INSERT INTO Segmento VALUES ('TJ005', '1012', 1);
INSERT INTO Segmento VALUES ('TJ005', '6032', 2);

SELECT * FROM Cidade;
SELECT * FROM Estrada;
SELECT * FROM Trajeto;
SELECT * FROM Segmento;

# Exercício 1

Escreva uma sentença em SQL que calcule a quilometragem total de cada Trajeto.

# Exercício 2

Para que um trajeto seja consistente, a cidade de origem deste trajeto deve ser igual à cidade de origem cadastrada no primeiro segmento do respectivo trajeto. Escreva uma consulta SQL que mostre a identificação dos trajetos que não estão consistentes conforme este critério.

# Exercício 3

Outro critério para que um trajeto seja consistente é que a cidade de destino deste trajeto deve ser igual à cidade de destino cadastrada no último segmento do respectivo trajeto. Escreva uma consulta SQL que mostre a identificação dos trajetos que não estão consistentes conforme este critério.

# Exercício 4

Retorne os trajetos de menor quilometragem entre cada origem/destino diferente. Esta consulta deve apresentar para cada um dos trajetos selecionados: cidade origem, cidade destino, menor quilometragem entre elas. A quilometragem de cada trajeto é calculada pela soma da quilometragem de todas as estradas que compõem o trajeto.

# Exercício 5

Modifique a tabela de Trajetos para acrescentar um campo extensao_km que conterá a quilometragem total do trajeto, escreva uma sentença que calcule e atualize o campo extensao_km da tabela de Trajetos, baseando-se na soma da quilometragem das estradas.

# Exercício 6

Retorne o nome das cidades que não aparecem na origem de nenhum segmento.