In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Cidade;
DROP TABLE IF EXISTS Pessoa;

In [3]:
-- Pessoa(nome, nome_da_mãe, ano_nascimento, nome_cidade_natal)
--   nome_cidade_natal → CHE Cidade
-- Cidade(nome_cidade, sigla_estado)

CREATE TABLE Cidade (
  Nome_Cidade VARCHAR(100) NOT NULL,
  Sigla_Estado VARCHAR(2) NOT NULL,
  PRIMARY KEY(Nome_Cidade)
);

CREATE TABLE Pessoa (
  Nome VARCHAR(100) NOT NULL,
  Nome_Mae VARCHAR(100),
  Ano_Nascimento INTEGER NOT NULL,
  Cidade_Natal VARCHAR(100) NOT NULL,
  PRIMARY KEY(Nome),
  FOREIGN KEY(Nome_Mae)
    REFERENCES Pessoa(Nome)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Cidade_Natal)
    REFERENCES Cidade(Nome_Cidade)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

In [4]:
INSERT INTO Cidade VALUES ('Asdrubolandia', 'AD');
INSERT INTO Cidade VALUES ('Campinas', 'SP');

INSERT INTO Pessoa VALUES ('Melissa', NULL, 1930, 'Asdrubolandia');
INSERT INTO Pessoa VALUES ('Adrubal', 'Melissa', 1970, 'Asdrubolandia');
INSERT INTO Pessoa VALUES ('Quincas', 'Melissa', 1973, 'Asdrubolandia');
INSERT INTO Pessoa VALUES ('Doriana', NULL, 1970, 'Campinas');
INSERT INTO Pessoa VALUES ('Alcebiades', 'Doriana', 2010, 'Campinas');

In [5]:
SELECT * FROM Cidade;

In [6]:
SELECT * FROM Pessoa;

In [7]:
SELECT DISTINCT Nome_Mae FROM Pessoa WHERE Nome_Mae IS NOT NULL;

In [8]:
SELECT DISTINCT Nome_Mae
       FROM Pessoa
       WHERE Nome_Mae IS NOT NULL AND
             Ano_Nascimento <= 2009;

Melissa

In [12]:
SELECT P.Nome, C.Sigla_Estado
       FROM Pessoa P, Cidade C
       WHERE P.Cidade_Natal = C.Nome_Cidade AND C.Sigla_Estado = 'SP';

In [13]:
SELECT P.Nome, C.Sigla_Estado
       FROM Pessoa P JOIN Cidade C
            ON P.Cidade_Natal = C.Nome_Cidade
       WHERE C.Sigla_Estado = 'SP';

In [16]:
SELECT C.Sigla_Estado, COUNT(*) Quantidade_Pessoas
       FROM Pessoa P, Cidade C
       WHERE P.Cidade_Natal = C.Nome_Cidade
       GROUP BY C.Sigla_Estado;