In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Taxi;
DROP TABLE IF EXISTS Cliente;
DROP TABLE IF EXISTS Corrida;

In [3]:
CREATE TABLE Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

In [4]:
INSERT INTO Cliente VALUES ('1532', 'Asdrúbal', '448.754.253-65');
INSERT INTO Cliente VALUES ('1755', 'Doriana', '567.387.387-44');
INSERT INTO Cliente VALUES ('1780', 'Quincas', '546.373.762-02');
INSERT INTO Cliente VALUES ('1888', 'Melissa', '123.456.789-10');

INSERT INTO Taxi VALUES ('DAE6534', 'Ford', 'Fiesta', 1999, 'MN572345');
INSERT INTO Taxi VALUES ('DKL4598', 'Wolkswagen', 'Gol', 2001, 'AU876543');
INSERT INTO Taxi VALUES ('DKL7878', 'Ford', 'Fiesta', 2001, 'OP102938');
INSERT INTO Taxi VALUES ('JDM8776', 'Wolkswagen', 'Santana', 2002, 'QM365923');
INSERT INTO Taxi VALUES ('JJM3692', 'Chevrolet', 'Corsa', 1999, 'UU335577');

INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-15');
INSERT INTO Corrida VALUES ('1780', 'JDM8776', '2003-02-18');
INSERT INTO Corrida VALUES ('1755', 'DKL7878', '2003-02-16');
INSERT INTO Corrida VALUES ('1780', 'DKL4598', '2003-02-17');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-18');
INSERT INTO Corrida VALUES ('1780', 'DAE6534', '2003-02-16');

In [5]:
-- Todos os Taxis com todos os atributos
SELECT * FROM Taxi;

In [6]:
-- Marca e Modelo dos Taxis disponíveis
SELECT Marca, Modelo FROM Taxi;

In [7]:
-- Taxis fabricados depois do ano 2000
SELECT * FROM Taxi WHERE AnoFab > 2000;

In [8]:
-- Placas que comecem com DK
SELECT * FROM Taxi WHERE placa LIKE 'DK%';

In [9]:
-- Placas com '7' na penultima posicao
SELECT * FROM Taxi WHERE placa LIKE '%7_';

In [10]:
-- Produto Cartesiano entre Clientes e Corridas
SELECT Cliente.CliId, Cliente.Nome, Corrida.Placa, Corrida.DataPedido
FROM Cliente, Corrida

In [11]:
-- Cientes e as respectivas corridas - Join Implícito
SELECT Cliente.CliId, Cliente.Nome, Corrida.Placa, Corrida.DataPedido
FROM Cliente, Corrida
WHERE Cliente.CliId = Corrida.CliId

In [12]:
-- Modelo de taxi para cada corrida
SELECT Corrida.DataPedido, Corrida.Placa, Taxi.Modelo
       FROM Corrida, Taxi
       WHERE Corrida.Placa = Taxi.Placa;

In [13]:
-- Modelos de Táxi por Cliente (estágio 1)
SELECT Cliente.Nome, Corrida.DataPedido, Corrida.Placa, Taxi.Modelo
       FROM Cliente, Corrida, Taxi
       WHERE Cliente.CliId = Corrida.CliId AND Corrida.Placa = Taxi.Placa;

In [14]:
-- Modelos de Táxi por Cliente (estágio 2)
SELECT DISTINCT Cliente.Nome, Taxi.Modelo
       FROM Cliente, Corrida, Taxi
       WHERE Cliente.CliId = Corrida.CliId AND Corrida.Placa = Taxi.Placa;

In [15]:
-- Modelos de taxi e os clientes que os tomaram
-- Ordena por Modelo, mas não por Cliente
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY T.Modelo;

In [16]:
-- Ordena por Modelo e, para cada Modelo, por Cliente
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY T.Modelo, Cl.Nome;

In [17]:
-- Cliente e os modelos de taxi tomados
-- Ordena por Cliente, mas não por Modelo
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY Cl.Nome;

In [18]:
-- Ordena por Cliente e, para cada Cliente, por Modelo
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY Cl.Nome, T.Modelo;

In [19]:
-- Taxis e respectivas corridas (para taxis que fizeram corrida)
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx JOIN Corrida Co
            ON Tx.placa = Co.placa;

In [20]:
-- Natural Join
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx
            NATURAL JOIN Corrida Co;

In [21]:
-- Taxis e respectivas corridas (para todos os taxis)
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx LEFT JOIN Corrida Co
            ON Tx.placa = Co.placa;

In [22]:
-- Corridas e respectivos clientes (para todos os clientes)
SELECT Co.placa, Cl.nome
       FROM Corrida Co RIGHT JOIN Cliente Cl
            ON Co.cliid = Cl.cliid;